<nav
  class="navbar navbar-expand-lg navbar-light justify-content-center"
  style="background-color: #fde9b6"
>
  <ul class="nav nav-pills" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="pills-home-tab"
        data-toggle="pill"
        href="#pills-home"
        role="tab"
        aria-controls="pills-home"
        aria-selected="true"
        >Home</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="pills-profile-tab"
        data-toggle="pill"
        href="#pills-profile"
        role="tab"
        aria-controls="pills-profile"
        aria-selected="false"
        >Profile</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="pills-contact-tab"
        data-toggle="pill"
        href="#pills-contact"
        role="tab"
        aria-controls="pills-contact"
        aria-selected="false"
        >History</a
      >
    </li>
  </ul>
</nav>
