<div class="text-center">
  <img src="./images/user.png" alt="user" style="width: 50%" />
</div>
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Name :</th>
      <th scope="col"><%= username %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Rank :</th>
      <td>user</td>
    </tr>
    <tr>
      <th scope="row">Have Won :</th>
      <td>Jacob</td>
    </tr>
    <tr>
      <th scope="row">Have Lost :</th>
      <td colspan="2">Larry the Bird</td>
    </tr>
  </tbody>
</table>
<div class="text-center mt-5">
  <a href="./logout" class="btn btn-danger">Logout</a>
</div>
