<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <div class="container">
      <%- include('partials/navbar') %>
      <h1 class="mt-5">Welcome to Rock Scissors Paper game</h1>
      <h5>Please login first to continue playing the game !!</h5>

  </body>
</html>